@charset "UTF-8";

.mag_cate_name:hover {
	text-decoration: underline;
}


.wrap {
	padding: 0;
	margin:0;
}

.wrap2 {
	margin:0 auto;
	position: relative;
	display: block;
	width: 1008px;
	padding: 52px 0 88px;
}

.title_wrap2 {
	margin: 25px 0px 0px;
	padding: 0px 0px 6px;
	border-width: 0px 0px 1px;
	border-image: initial;
	font-variant-numeric: inherit;
	font-stretch: inherit;
	font-size: 12px;
	line-height: inherit;
	font-family: 돋움, Dotum, '맑은 고딕', 'Malgun Gothic', 'Apple Gothic', sans-serif;
	vertical-align: baseline;
	overflow: hidden;
	color: #666666;
	border-color: initial initial #848484 initial;
	border-style: initial initial solid initial;
}

.title2 {
	font-weight: bold;
	font-size: 18px;
	font-family: '맑은 고딕', 'Malgun Gothic', 돋움, Dotum, 'Apple Gothic', sans-serif;
	color: #1a1a1a;
	float: left;
}

.banner {
/* 	margin: 0px;
	 padding: 0px;
	  border: 0px;
	   font-variant-numeric: inherit;
	    font-stretch: inherit;
	     font-size: 0px;
	      line-height: 0;
	       font-family: 돋움, Dotum, '맑은 고딕', 'Malgun Gothic', 'Apple Gothic', sans-serif;
	        vertical-align: baseline;
	         color: #666666; */
/* 	margin: 0px;
	padding: 0px;
	border: 0px;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
	font-stretch: inherit;
	line-height: 0;
	font-family: inherit;
	vertical-align: baseline;" */
	
	margin-top: 5px;
	border-top: 1px solid gray;
 	border-bottom: 1px solid silver;
	
}

.big_date {
/* 	margin: 0px;
	padding: 0px;
	border: 0px;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
	font-stretch: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	vertical-align: middle;
	height: 17px;
	display: block; */
	
	color: black;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.small_date {
	padding-top: 10px;
	font-family: arial, dotum;
	display: inline-block;
}


.heart {
	background: url(/Melon/img/magazine/btn_colk1_sprite.png) no-repeat 0 0;
    width: 11px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
}

.seperator {
	margin: 0px 0px 0px 3px;
	padding: 0px 0px 0px 8px;
	background: url('http://cdnimg.melon.co.kr/resource/image/web/musicstory/bl_musictoday.jpg') 0px 50% no-repeat;
}

.page{
	margin-top: 24px;
	text-align: center;
}

.page_btn_first {
	vertical-align: middle;
	color: #1a1a1a;
	display: inline-block;
	position: relative;
	width: 24px; 
	height: 24px;
	background: url('http://cdnimg.melon.co.kr/resource/image/web/common/btn_paginate.png') 0px -108px no-repeat;
}

.page_btn_pre {
	vertical-align: middle;
	color: #1a1a1a;
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	background: url('http://cdnimg.melon.co.kr/resource/image/web/common/btn_paginate.png') -26px -108px no-repeat;
}

.page_num_wrap {
	margin: 0px 0px 0px 2px;
	line-height: 1.2em;
	font-family: 돋움, dotum, sans-serif, 'Apple Gothic', sans-serif;
	vertical-align: middle;
	display: inline-block;
}

.page_num {
	position: relative;
	display: inline-block;
	padding: 5px 6px 3px;
	border: 1px solid #80ba00;
	min-width: 10px;
	margin-left: -1px;
	color: #80ba00;
	vertical-align: middle;
	z-index: 2;
}

.page_btn_next {
	vertical-align: middle;
	color: #1a1a1a;
	display: inline-block;
	position: relative;
	width: 24px; 
	height: 24px;
	background: url('http://cdnimg.melon.co.kr/resource/image/web/common/btn_paginate.png') -84px -108px no-repeat;}

.page_btn_last {
	vertical-align: middle;
	color: #1a1a1a;
	display: inline-block;
	position: relative;
	width: 24px; 
	height: 24px;
	background: url('http://cdnimg.melon.co.kr/resource/image/web/common/btn_paginate.png') -110px -108px no-repeat;
}

.writeBtn {
	float: right;
	border: 1px solid black;
	padding: 0 3px 0 3px;
	text-decoration: none;
	margin-right: 10px;
}



/* reply */

/* .reply_subject_wrap { */
/* 	margin: 10px 0 10px 0; */
/* } */

/* .reply_subject { */
/* 	font-family: "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif; */
/* 	font-weight: bold; */
/*     font-size: 18px; */
/* } */

/* .reply_write_wrap { */
/*     display: block; */
/*     position: absolute; */
/*     margin-bottom: 24px; */
/*     padding: 15px 101px 8px 28px; */
/*     background-color: #f5f5f5; */
/*     border: 1px solid #d1d1d1; */
/*     z-index: 40; */
/*     width: 736px; */
/*     height: 100px; */
/* } */

/* .reply_photo_wrap {     */
/*     margin: 13px 0px 0px; */
/* 	padding: 0px; */
/* 	border: 0px; */
/* 	vertical-align: baseline; */
/* 	position: relative; */
/* 	float: left; */
/* } */

/* .reply_photo_box_image { */
/* 	margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; color: #1a1a1a; display: block; width: 54px; height: 54px; cursor: pointer;" data-member-key="null" */
/* } */

/* .reply_photo { */
/* 	display: inline-block; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     width: 54px; */
/*     height: 54px; */
/*     background: url(/Melon/img/magazine/bg_frame_54.png) no-repeat; */
/* } */

/* .reply_registBtn_wrap { */
/* 	position: absolute; */
/*     right: 15px; */
/*     top: 15px; */
/* } */

/* .reply_registBtn { */
/* 	padding: 35px 25px 35px 25px; */
/* 	background-color: white; */
/*     cursor: pointer; */
/*     border: 1px thin black; */
/* } */

/* .reply_registBtn_span {	 */
/*     color: #333; */
/*     font-weight: bold; */
/*     font-size: 14px; */
/*     font-family: "Dotum","돋음","Apple Gothic",sans-serif; */
/* } */

/* .reply_view_header { */
/* 	margin: 8px 0 8px 0; */
/* 	border-bottom: 1px thin gray; */
/* 	display: block; */
/* } */

/* .reply_all_num_wrap { */
/* 	color: #1a1a1a !important; */
/* 	float: left; */
/* 	font-weight: bold; */
/* } */

/* .reply_all_num { */
/* 	color: #7cb710 !important; */
/* 	font-weight: bold; */
/* } */

/* .order { */
/* 	float: right; */
/* 	color: #1a1a1a; */
/* } */

.reply_write_header {
	font-weight: bold;
	font-size: 18px;
	font-family: '맑은 고딕', 'Malgun Gothic', 'Apple Gothic', sans-serif;color: #1a1a1a;
	letter-spacing: -1px;
	margin-bottom: 12px;
}

.reply_write_wrap {    
    position: absolute;
    margin-bottom: 150px;
    padding: 15px 101px 8px 28px;
    background-color: #f5f5f5;
    border: 1px solid #d1d1d1;
    z-index: 40;
/*     width: 576px; */
/*     height: 100px; */
    display: block;
    
}

.reply_seperator {	
    margin-right: 4px;
    padding: 0 4px 0 4px;
    background: url(http://cdnimg.melon.co.kr/resource/image/web/common/bg_gray_bar.png) no-repeat 0 3px;
}

